{% extends 'base.html' %}
{% block app_pagecontent %}
<div class="d-flex justify-content-center align-items-center vh-100">
<div class="container my-4 text-white">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h3 class="mb-3 text-white">Login</h3>


            <form method="POST">
                {{ form.hidden_tag() }}

                <div class="mb-3">
                    Username
                    {{ form.user(class="form-control") }}
                    {% for error in form.user.errors %}
                        <div class="text-danger small">{{ error }}</div>
                    {% endfor %}
                </div>

                <div class="mb-3">
                    Password
                    {{ form.password(class="form-control") }}
                    {% for error in form.password.errors %}
                        <div class="text-danger small">{{ error }}</div>
                    {% endfor %}
                </div>

                <button type="submit" class="btn btn-primary">Login</button>
            </form>

            <p class="mt-3 text-white">
                Don't have an account? <a href="{{ url_for('auth.register') }}">Register here</a>
            </p>
        </div>
    </div>
</div>
</div>
{% endblock %}

{% block head %}
  <title>Log in</title>
{% endblock %}
