{% extends "base.html" %}
{% block app_pagecontent %}

<div class="title">
 <h2>Featured Species</h2>
  <h6>A selection of some specimens across the galaxies
    {% if current_user.is_authenticated %}
    <br> Welcome back  {{current_user.user}}!
    {%endif%}
  </h6>
</div>


<div class="own_costum_cards">
    <div class="container mt-4">
        <div class="row">
            {% for alien in aliens %}
            <div class="col-md-4 mb-4">
                <div class="card h-100 shadow-sm">
                    <div class="card-body text-center">

                        <h5 class="card-title fw-bold mb-3">{{ alien.Name }}</h5>

                        {% for img in alien.image %}
                        <img class="img-fluid mb-3 rounded imagecontainer" 
                             src="{{ url_for('static', filename='user_images/' ~ img.filename) }}" 
                             alt="Image of {{ alien.Name }}">
                        {% endfor %}

                      <!-- It is probable not having classes -->
                        {% if alien.Class %}
                        <h6 class="card-subtitle fw-semibold mb-2 text-primary">
                            Classes:
                        </h6>
                        <p class="mb-2 text-muted">
                            {% for classes in alien.classes %}
                                {{ classes.name }}{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </p>
                        {% endif %}

                        <p class="card-text mb-2"><span class="fw-semibold">Origin:</span> 
                            {{ alien.Origin or 'Unknown' }}
                        </p>

                        <p class="card-text mb-2"><span class="fw-semibold">Danger:</span> 
                            {{ alien.Danger }}
                        </p>

                        <p class="card-text"><span class="fw-semibold">Description:</span>
                            {{ alien.Description }}
                        </p>

                        {% if current_user.id == alien.user_id or current_user.is_admin%}
                        <button type="button" class="btn btn-outline-primary">
                            <a href="{{ url_for('main.edit_alien', alien_id=alien.Id,  next=request.path) }}">Edit</a>
                        </button>

                        <button type="button" class="btn btn-outline-primary" onsubmit="return confirm('Are you sure you want to delete this user?');">
                            <a href="{{ url_for('main.delete_alien', alien_id=alien.Id , next=request.path) }}">Delete</a>
                        </button>
                        {% endif %}

                        {% if current_user.is_admin %}
                        <br>Creator: 
                        {%if alien.creator.user%}
                        {{ alien.creator.user }}
                        {% else %}
                        This user has been banned
                        {% endif %}
                        {% endif %}

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


<div class="pagination">
  {% if aliens.has_prev %}
    <a href="{{ url_for('main.species', page=aliens.prev_num) }}">Previous</a>
  {% endif %}

  <span>&nbsp;Page {{ aliens.page }} of {{ aliens.pages }}&nbsp;</span>

  {% if aliens.has_next %}
    <a href="{{ url_for('main.species', page=aliens.next_num) }}">Next</a>
  {% endif %}
</div>



{% endblock %}




{% block styles %}
<link rel="stylesheet" href="../static/css/species.css">
{% endblock %}

{%block head %}
<title>Entities</title>
{% endblock %}