{% extends "base.html" %}
{% block app_pagecontent %}

<div class="title">
 <h2>Featured Species</h2>
  <h6>A selection of some specimens across the galaxies
    {% if current_user.is_authenticated %}
    <br> Welcome back  {{current_user.user}}!
    {%endif%}
  </h6>
</div>

<div class="own_costum_cards">
    <div class="container mt-4">
        <div class="row">
            {% for alien in aliens %}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">{{ alien.Name }}</h5>
                        <h6 class="card-subtitle mb-2">
                            Class: {{ alien.Class }}
                        </h6>
                        {%if alien.Origin %}
                       <p class="card-text">
                            Origin: {{ alien.Origin }}
                        </p>
                        {% else %}
                        <p class="card-text">
                            Origin: Unknown
                            
                        </p> 
                        {% endif %}
                        <p class="card-text">
                            Danger: {{ alien.Danger }}
                        </p>
                       
                        <p class="card-text">{{ alien.Description }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}




{% block styles %}
<link rel="stylesheet" href="../static/css/species.css">
{% endblock %}

{%block head %}
<title>Entities</title>
{% endblock %}