.container_form {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

background{
    
    background-color: grey;
    align-self: center;
    width: 60%;
    height: 100%;
}