* {
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
}   



/* Index Page CSS with grid layout for the main containers
    More containers can be added in a future*/
.container_index {
    margin-top: 60px;
    width: 100%;
    min-height: 100vh;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "photo text"
}



.img_index {
    grid-area: photo;
    object-fit: contain;
    display: flex;
    justify-content: center; 
    align-items: center;    
}


@media (max-width: 500px) {
    .img_index {
        display: none;
    }
    .container_index {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "text"
            "rest";
    }
}

.img_index img {
    
    border-radius: 100%;
    width: 80%;
    height: 80%;
    overflow: hidden;
}

.text_index {
    margin: 15px;
    padding: 15px;
    margin-top: 60px;
    max-width: 90%;


    
    background-color: transparent ;
    grid-area: text;

    display: flex;
    flex-direction: column;
}

/* No gaps for smaller screens*/
@media (max-width: 700px) {
    .text_index {
        max-width: 100%;
        margin-top: 20px;
    }

    .img_index{
        display: none;
    }
}


.text_index h2 {

    color: #f0f0ff; 
    width: 100%;
    text-align: center;
}

.text_index p {
    color: #f0f0ff; 
    margin-top: 5%;
    width: 100%;
    font-size: 22px;

}

@media (max-width: 700px) {
    .img_index {
        display: none;
    }
    .container_index {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "text"
            "rest";
    }
}

.most_fam_title {
    color: white;
    width: 100%;
    text-align: center;
}

.most_fam_subtitle {
    color: white;
    width: 100%;
    text-align: center;
}

/*grid of the bottom part (cards) */

.most_famous {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-areas: 
        "title"
        "sub";



}


.most_fam_title { 
    grid-area: title; 
}
.most_fam_subtitle { 
    grid-area: sub; 
}

.own_costum_cards .card {
    background-color: rgba(0, 0, 30, 0.85);
    color: #e0e0ff;
    border: 2px solid #00ffff;
    border-radius: 12px;
    box-shadow: 0 0 15px #00ffff;
    padding: 15px;
    height: 100%;
}

.text_bottom{
font-size: 22px;
color:#f0f0ff;
}


