* {
    margin: 0;
    padding: 0;
    font-family: 'Share Tech Mono', monospace;
}   



body{
    background-image: url("../images/background.png");
}

/* Index Page CSS with grid layout for the main containers
    More containers can be added in a future*/
.container_index {
    margin-top: 60px;
    width: 100%;
    min-height: 100vh;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "photo text"
}



.img_index {
    grid-area: photo;
    object-fit: contain;
    display: flex;
    justify-content: center; 
    align-items: center;    
}


@media (max-width: 500px) {
    .img_index {
        display: none;
    }
    .container_index {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "text"
            "rest";
    }
}

.img_index img {
    
    border-radius: 100%;
    width: 80%;
    height: 80%;
    overflow: hidden;
}

.text_index {
    margin: 15px;
    padding: 15px;
    margin-top: 60px;
    max-width: 90%;


    
    background-color: transparent ;
    grid-area: text;

    display: flex;
    flex-direction: column;
}

/* No gaps for smaller screens*/
@media (max-width: 700px) {
    .text_index {
        max-width: 100%;
        margin-top: 20px;
    }
}


.text_index h2 {

    color: #f0f0ff; 
    width: 100%;
    text-align: center;
}

.text_index p {
    color: #f0f0ff; 
    margin-top: 20px;
    width: 100%;
    font-size: 25px;

}

.text_index h1 p{
    color: #e0e0ff;
    font-size: 20px;
    text-align: justify;
    line-height: 1.5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media (max-width: 700px) {
    .img_index {
        display: none;
    }
    .container_index {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "text"
            "rest";
    }
}

.most_fam_title {
    color: white;
    width: 100%;
    text-align: center;
}

.most_fam_subtitle {
    color: white;
    width: 100%;
    text-align: center;
}

/*grid of the bottom part (cards) */

.most_famous {
    width: 100%;
    height: 350px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas: 
        "title title title"
        "sub sub sub"
        "card1 card2 card3";
    gap: 20px;
    margin-bottom: 20px;
    padding: 0 20%;
}

@media (max-width: 700px) {
    .most_famous{
        padding: 0% 5% ;
    }
    
}

.most_fam_title { 
    grid-area: title; 
}
.most_fam_subtitle { 
    grid-area: sub; 
}

.card1 { 
    grid-area: card1; 

}
.card2 { 
    grid-area: card2; 
}
.card3 { 
    grid-area: card3; 

}

.most_famous div {
    border: solid;
    border-radius: 5%;
     background-color: transparent;
    color: #f0f0ff; 
    border-radius: 10px;
    font-size: 50px;
    max-height: 100%;
    overflow-y: auto;
    color: #e0e0ff;

}

.most_famous p {
    font-size: 20px;
    padding: 2px;
}

.most_famous img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
    overflow: hidden;
}

