* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image:  url("../images/backgrounds/background_about.jpg");
    background-size: 110%;;
}

.what_we_do {
  border-top: 2px solid transparent;
  background: transparent;
  padding-top: 20px;
  padding-bottom: 5px;
  min-height: 100px;

  color: white;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  margin-top: 40px;
   box-shadow: 0 0 12px white;

}

.what_we_do h2{
    font-size: 40px;
    box-sizing: border-box;
    margin-top:60px;
    width: 100%;
    height: auto;

}

.what_we_do h6{
    font-size: 30px;
    height: auto;
    width: 100%;
}   

.introduction{
    height: 50vh;
    color: #f0f0ff;
    background: solid;
    background-color: transparent;
    text-align: center;
    margin: 40px 30px;

    /*we use flex to distribute the text and the png, inside text there will be another flexbox*/
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.introduction .text{
    width: 50%;
    font-size: 20px;
    margin: 30px 40px;

    /*flex to mantain items in the center in columns */
    display: flex;
    justify-self: left;
    flex-direction: column;
    align-items: center;

    /*for small screens*/
    overflow: auto;
}

.introduction h2{
    justify-content: center;
    width: 70%;
    text-align: center;
    margin-top: 30px;
}

.introduction p{
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
}

.introduction img{
    justify-content: center;
      width: 50%;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
    overflow: hidden;
}

@media (max-width: 700px), (max-height: 500px) {
    .introduction {
        flex-direction: column;
        align-items: center;
    }

    .introduction img {
        display: none;
    }

    .introduction .text {
        width: 90%;
        margin: 10px 5px;
    }

    .company_info {
        background-color: green;
        padding: 10px;
    }
}


.introduction .text{
    margin: 2px 2px;
}


.company_info{

    background: solid;
    background-color: green;
}