
/* CSS works on cascade, should be no problem here but just in case */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    padding-top: 20px;
}



.footer-fixed {
    margin-top: auto;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("/static/images/backgrounds/background_index.jpg");
     background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
}
/*hole navbar container*/
.container_navbar {
    z-index: 1000;
    width: 100%;
    height: 65px;
    background-color: #0b0c2a;
    opacity: 20;
    display: grid;

    /*grid layout */
    align-items: stretch;
    grid-template-columns: 1fr 1fr 6fr 6fr;
    grid-template-areas:
        "menu_container photo mainText navLinks"
        ; 
    /*always position at the top*/
    position: fixed;
    top: 0;
    left: 0;
    
    border-style: solid;
    border-color: #a9a4a4;
    
}

/*container of the main text of the navbar */

.menu_container {
    width: 30px;
    grid-area: menu_container;
}

.menu_container p {
    margin: 0;
    padding: 0;
    margin-left: 10px;
    font-size: 40px;
    color: white;
    text-align: left;
    cursor: pointer;
    line-height: 60px;
}


.photo {
    margin-left: auto;
    grid-area: photo;
    width: 100px;
    height: 50px;
    overflow: hidden; 
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-top: 5%;
}

.mainText{
    width: 100%;
    height: 60%;
    padding-top: 10px;
    grid-area: mainText;
    object-fit: contain;
    overflow-x: visible;   
    white-space: nowrap;
    
}



.container_navbar a{
    text-decoration: none;
    color: white;
}

/*interactive sidebar, toggled by "navbar.js" */

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 65px;
    width: 20rem;
    height: auto;
    background-color: #a9a4a4;
    overflow: auto;
    z-index: 1000;
}

.sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none; 
}

.sidebar ul li {
    border: solid black;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    margin: 0;
}

.sidebar a {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    display: block;
    width: 100%;

    padding: 16px 0;
    margin-bottom: 0px;
    text-decoration: none;
    color: black;
}

.sidebar li:hover{
    background-color: bisque;
}

.sidebar img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}



 /*transition for the links in the navbar*/
.sidebar {
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.sidebar--visible {
    transform: translateX(0);
}


.user_part {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.login_button {
    margin-right: 20px;
    border-radius: 10%;
    padding: 6px 10px;
    border: 1px solid #00ffc8;
    font-size: 18px;
    font-weight: 600;
}

.login_button:hover{
 background-color: #00ffc8;
}

.user {
    margin-right: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 6px 10px;
    border: 1px solid #00ffc8;
    border-radius: 4px;
}

.user-icon {
    width: 30px;
    height: 30px;
}

.name {
    font-size: 18px;
    font-weight: 600;
}

@keyframes reveal {
  from { opacity: 0;  }
  to { opacity: 1; }
}
img {
  animation: auto ease-in reveal both;
  animation-timeline: view();
  animation-range: entry 20%;
}

.logout{
    margin-right: 20px;
    color: black;
}
