* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar CSS */
/* We try not using any general tag as div, section etc, for the other pages */
/* We use classes and id's instead */

/* CSS works on cascade, should be no problem here but just in case */


/*hole navbar container*/
.container_navbar {
    width: 100%;
    height: 65px;
    background-color: #0b0c2a;
    opacity: 20;
    display: grid;

    /*grid layout */
    align-items: stretch;
    grid-template-columns: auto 1fr 6fr 6fr;
    grid-template-areas:
        "menu_container photo mainText navLinks"
        ; 
    /*always position at the top*/
    position: fixed;
    top: 0;
    left: 0;
    
    border-style: solid;
    border-color: #a9a4a4;
    
}

/*container of the main text of the navbar */

.menu_container {
    width: 30px;
    grid-area: menu_container;
}

.menu_container p {
    margin: 0;
    padding: 0;
    margin-left: 10px;
    font-size: 40px;
    color: white;
    text-align: center;
    cursor: pointer;
    line-height: 60px;
}


.photo {
    margin-left: auto;
    grid-area: photo;
    width: 100px;
    height: 50px;
    overflow: hidden; 
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.mainText{
    width: 100%;
    height: 60%;
    padding-top: 10px;
    grid-area: mainText;
    object-fit: contain;
    
}
/*for the buttons of the navbar, a table was used, it will contain the main pages of the website, for the rest,
     a sidebar will be added with the other pages (including the pages of the ul) */
.navLinks{
    height: 20px;
    background-color: #a9a4a4;
    grid-area: navLinks;

}



.navLinks table, th, td {
  border: 0.5px solid;
}

.container_navbar a{
    text-decoration: none;
    color: white;
}

/*We put a padding for a:hover */ 

.navLinks a {
    display: block;
    padding: 18px 0;
}

.navLinks a:hover {
    background: #1e0c81;
}

/*interactive sidebar, toggled by "navbar.js" */

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 65px;
    width: 20rem;
    height: auto;
    background-color: #a9a4a4;
    overflow: scroll;
}

.sidebar a {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin-bottom: 15px;
    display: block;
    width: 100%;
    height: 20px;
    padding: 18px 0;
    /*no links with blue color*/
    text-decoration: none;
    color: black;
}

.sidebar ul li {
    border: solid black;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.sidebar img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}


 /*transitions*/
.sidebar {
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.sidebar--visible {
    transform: translateX(0);
}
