<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/navbar.css">
    <link rel="icon" href="../static/images/navbar_logo.png">
    {% block styles %}
    <!-- Custom CSS for each page-->
    {% endblock %}

    {%block head %}
    <!-- Default title if none is provided -->
    <title>Xenovault</title>
    {% endblock %}
</head>



<body>

    <nav class="container_navbar">

        <div class="menu_container" id="menu_container">
        <p>&#9776;</p>
        </div> 


        <div class="photo">
        <img src="../static/images/navbar_logo.png">
        </div>
        <h1 class="mainText"><a href="{{url_for('main.index')}}">THE HYPERIUM HUB</a></h1>

<div class="user_part">
    {% if User["name"] == None %}
        <a href="{{ url_for('main.log_in') }}" class="login_button">LOG IN</a>
    {% else %}
        <div class="user">
            <img src="../static/images/incons/user.png" alt="user icon" class="user-icon">
            <span class="name">{{ User["name"] }}</span>
        </div>
    {% endif %}
</div>


    </nav>

    <div class="sidebar" id = "sidebar">
        <ul>
            <li>
                <img src="../static/images/incons/home.png" alt="home.png">
                <a href="{{url_for('main.index')}}">Home</a>

            </li>
            <li>
                <img src="../static/images/incons/question.png" alt="question.png">
                <a href="{{url_for('main.information')}}">About</a>
            </li>
            <li>
                <img src="../static/images/incons/bank.png" alt="bank.png">
                <a href="{{url_for('main.species')}}">Species</a>
            </li>
            <li>
                <img src="../static/images/incons/bank.png" alt="bank.png">
                <a href="{{url_for('main.form')}}">New Specimen</a>
            </li>


        </ul>
    </div>

    {% block app_pagecontent %}
    {% endblock %}

<footer class="bg-secondary text-white py-3 mt-5">
  <div class="container d-flex justify-content-between align-items-center" >
    <span>Database last updated: year 138900 since Big Bang</span>
    <button id="go_top">  GO TO TOP </button>
    <span>For the sake of humanity</span>
  </div>
</footer>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script src="../static/js/base.js"></script>
</body>

</html>