{% extends "base.html" %}
{% block app_pagecontent %}

<div class="container_form">
    <div class="inside">

        <h1>Add a new creature!</h1>
        <form method="POST">
            {{ form.hidden_tag() }}
            <p>
                {{ form.name.label }}<br>
                {{ form.name(style="width:100%;") }}
            </p>
            <p>
                {{ form.class_imput.label }}<br>
                {{ form.class_imput(style="width:100%;") }}
            </p>
            <p>
                {{ form.origin.label }}<br>
                {{ form.origin(style="width:100%;") }}
            </p>
            <p>
                {{ form.danger.label }}<br>
                {{ form.danger(style="width:100%;") }}
            </p>
            <p>
                {{ form.description.label }}<br>
                {{ form.description(style="width:100%; height:150px;") }}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    </div>
</div>


{% endblock %}


{% block styles %}
<link rel="stylesheet" href="../static/css/form.css">
{% endblock %}

{%block head %}
<title>New specie</title>
{% endblock %}