{% extends "base.html" %}
{% block app_pagecontent %}

<section class="container_index">
    <section class="img_index">
        <img src="../static/images/index_img.jpg" alt="nebula">
    </section>
    <section class="text_index">
        <h2>WELCOME TO THE CORPORATION DATABASE</h2>
        <p>
            Explore the vast expanse of exobiological data with our comprehensive database.
            <br>Discover detailed information on a wide range of extraterrestrial species,
            from their unique biological traits to their ecological roles in alien ecosystems.
            <br>Whether you're a researcher, student, or enthusiast, our user-friendly interface and advanced search
            capabilities make it easy to find the information you need.
            Join us in unraveling the mysteries of life beyond Earth!
            <br>
            For more information, visit the "About" page or explore the "Species" section to start your journey into the
            unknown.
            <br> We are aware of the dangerousness of some species. If you encounter any of them, please contact the the
            company immediately.
        </p>
    </section>
</section>

<section class="most_famous">
    <h2 class="most_fam_title">Most Famous Species!</h2>
    <h6 class="most_fam_subtitle">These are some of the most famous specimens:</h6>
</section>

<div class="own_costum_cards">
    <div class="own_costum_cards">
        <div class="container mt-4">
            <div class="row">
                {% for alien in aliens %}
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">{{ alien.Name }}</h5>
                            <h6 class="card-subtitle mb-2">
                                Class: {{ alien.Class }}
                            </h6>
                            {%if alien.origin %}
                            <p class="card-text">
                                Origin: {{ alien.Origin }}
                            </p>
                            {% else %}
                            <p class="card-text">
                                Origin: Unknown

                            </p>
                            <p class="card-text">
                                Danger: {{ alien.Danger }}
                            </p>
                            {% endif %}
                            <p class="card-text">{{ alien.Description }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>
</div>


    <div class="container my-4">
        <div class="row align-items-center">
            <div class="col-md-6 text_bottom">
                <h2>The Research Division</h2>
                <p>
                    Our central research outpost is stationed on Polyphemus,
                    within the Messier 82 Galaxy. The facility monitors local ecosystems,
                    catalogues newly discovered species, and analyzes the bioluminescent lifeforms that inhabit its
                    oceans
                    and crystalline deserts.
                    <br> <br>
                    Our scientists, explorers, and archivists work tirelessly to decode the biology, behavior,
                    and histories of intelligent species across the known galaxies. Every discovery is meticulously
                    documented,
                    ensuring that knowledge once scattered among the stars becomes accessible to all who seek to
                    understand
                    the vast diversity of life.
                </p>
            </div>

            <div class="col-md-6 text-center">
                <img src="../static/images/planet_origin.jpg" alt="Base" class="img-fluid rounded">
            </div>
        </div>
    </div>




    {% endblock %}

    {% block styles %}
    <link rel="stylesheet" href="../static/css/index.css">
    {% endblock %}

    {% block head %}
    <title>Home - The company database</title>
    {% endblock %}