{% extends "base.html" %}
{% block app_pagecontent %}

<div class="what_we_do">
    <h2 class="title">About us, The Interestellar Company</h2>
    <h5 class="sub">We catalog species the universe for the sake of humanity</h5>
</div>

<div class="introduction">
    <div class="text">
        <h2> Our position</h2>
        <p>
            We are seekers of meaning in the vast silence between stars. Born not from conquest or curiosity alone, but
            from a deep reverence for existence itself <br>
            The Interstellar Company is composed of scholars, archivists, and explorers; those who believe that every
            lifeform, no matter how alien, holds a fragment of truth about the universe and ourselves
            <br>
            <br>
            <em>“You cannot discover new oceans unless you have the courage to lose sight of the shore.”</em> <br>
            Ferdinand Magellan
        </p>
    </div>
    <img src="../static/images/ship.jpg" alt="spaceship">
</div>

<div class="company_info">

</div>


<div class="container my-4 text_bottom">
    <div class="row align-items-center">


        <div class="col-md-6 text-center">
            <img src="../static/images/myimg.png" alt="Base" class="img-fluid rounded">
        </div>

        <div class="col-md-6 ">
            <h2>About our leader</h2>
            <p>
                Yu Xiang, the president of The Hyperion Research Institute,
                is recognized as a leading figure in the exploration and study of extraterrestrial species. <br>
                Known for extending the boundaries of scientific knowledge and pioneering research into alien lifeforms,
                he has guided the institute to become a hub of innovation and discovery across the galaxy.
<br>
                With a passion for uncovering the unknown,it is ensured that the institute not only catalogues species but also understands their ecosystems and
                behaviors. Under Yu Xiang's leadership,Hyperion Research Institute continues to inspire scientists and explorers across the universe
            </p>
        </div>
    </div>
</div>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="../static/css/information.css">
{% endblock %}