{% extends "base.html" %}
{% block app_pagecontent %}

{% block content %}
  <h1>Formtest</h1>
  <form action="" method="post">
    {{ form.hidden_tag() }}

    <p>
      {{ form.name.label }}<br>
      {{ form.name(size=32) }}
    </p>

    <p>
      {{ form.class_imput.label }}<br>
      {{ form.class_imput(size=32) }}
    </p>

    <p>
      {{ form.origin.label }}<br>
      {{ form.origin(size=32) }}
    </p>

    <p>
      {{ form.danger.label }}<br>
      {{ form.danger(size=32) }}
    </p>

    <p>
      {{ form.description.label }}<br>
      {{ form.description(rows=4, cols=40) }}
    </p>

    <p>{{ form.submit() }}</p>
  </form>
{% endblock %}





{% endblock %}