{% extends "base.html" %}
{% block app_pagecontent %}

<div class="title">
<h2>aa</h2>
<h6>aa</h6>

</div>

  <h1>Formtest</h1>
  <form action="" method="post">
    {{ form.hidden_tag() }}

    <p>
      {{ form.name.label }}<br>
      {{ form.name() }}
    </p>

    <p>
      {{ form.class_imput.label }}<br>
      {{ form.class_imput() }}
    </p>

    <p>
      {{ form.origin.label }}<br>
      {{ form.origin() }}
    </p>

    <p>
      {{ form.danger.label }}<br>
      {{ form.danger() }}
    </p>

    <p>
      {{ form.description.label }}<br>
      {{ form.description() }}
    </p>

    <p>{{ form.submit() }}</p>
  </form>
{% endblock %}




{% block styles %}
<link rel="stylesheet" href="../static/css/species.css">
{% endblock %}